<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Workflow</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap-reboot.css">
        <link rel="stylesheet" href="/assets/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/assets/css/bootstrap.css">
                
        <link rel="stylesheet" href="/assets/css/layout.css">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">

        <!-- TinyMCE - Editor -->
        <!-- <script src="/assets/js/lib/tinymce/tinymce.min.js"></script> -->
    
    </head>

    <body>
