<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="http://workflow.localhost">Workflow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/emails">Emails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/calendar">Kalender</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/contacts">Kontakte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/projects">Projekte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/tasks">Aufgaben</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/documents">Dokumente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/notes">Notizen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/timetrack">Zeiterfassung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/tests">Tests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/bugs">Bugs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/tools">Werkzeuge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/settings">Einstellungen</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="http://workflow.localhost/sign-out">Abmelden</a>
            </li>

        </ul>
      </div>
</nav>