{{> partials/head }}

    <div class="navigation">

        {{> partials/navigation }}

    </div>
    
    <div class="header">
        <div class="container-fluid title-bar">
            <h1>Kontakte</h1>
            <a href="/contact/new" title="Neue Aufgabe" class="btn header-button">Neuer Kontakt</a>
        </div>
    </div>

    {{# hasContacts }}
    <div class="table-scrollable">
        <div class="table table-striped table-hover table-sm">
            <div class="container-fluid">
                <table class="table__index">
                    <thead>
                        <tr>
                            <th>Aktionen</th>
                            <th>#</th>
                            <th>Name</th>
                            <th class="created">Erstellt</th>
                            <th class="updatedAt">Aktualisiert</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{# contacts }}

                        <tr class="clickable__row" data-href="/contact/read/{{ getId }}">
                            <td>-</td>
                            <td>{{ getId }}</td>
                            <td>{{ getDisplayName}}</td>
                            <td>{{ getCreatedAt }}</td>
                            <td>{{ getUpdatedAt }}</td>
                        </tr>

                        {{/ contacts }}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{/ hasContacts }}

    {{^ hasContacts }}
    <div class="container-fluid">
        <p>Es sind noch keine Kontakte angelegt. Mit "Neuer Kontakt" können Sie neue Kontakte anlegen.</p>
    </div>
    {{/ hasContacts }}

    <script src="/assets/js/modules/contact/index.js"></script>
    
{{> partials/footer }}