{{> partials/head }}

    <div class="navigation">

        {{> partials/navigation }}

    </div>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

                <div class="mt-4">
                    <h1>Kontakt - {{ getDisplayName }}</h1>
               </div>

               <div class="buttons fixed-bottom">
                    <div class="container-fluid">
                        <button id="edit__btn" class="btn btn-primary" data-location="/contact/edit/{{ getId }}">Bearbeiten</button>
                    </div>
                </div>

            </div>

            <div class="col-md-4">

                <div class="mt-4">

                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Projekte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Aufgaben</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dokumente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Issues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Einstellungen</a>
                        </li>
                    </ul>

                </div>

                <div class="notes">

                    <div class="title-bar">
                        <h3>Notizen</h3>
                        <a href="#" id="new__note__btn" class="btn action-button">Neue Notiz</a>
                    </div>

                    <div class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">

                                <form name="note" id="note__form" action="../../api/note/create" method="post">
                                    <div class="modal-header">
                                        <input type="text" name="title" id="modal__title" class="form-control modal-title">
                                        <button type="button" id="note__close" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea name="desc" id="note__desc" class="modal-textarea"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" id="note__save" class="btn btn-primary">Speichern</button>
                                    </div>

                                    <input type="hidden" name="contactId" value="{{ getId }}">
                                    
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="accordeon" id="accordeon"></div>

                </div>

            </div>

            <div class="col-md-2 wf-info">

                <div>
                    <div class="mt-4">
                        <div>#: <span id="contact__id">{{ getId }}</span></div>
                    </div>

                    <div>
                        <div>Erstellt: {{ getCreatedAt }}</div>
                    </div>
                    <div>
                        <div>Aktualisiert: {{ getUpdatedAt }}</div>
                    </div> 
                </div>

            </div>
        </div>
    </div>

    <script src="/assets/js/modules/contact/read.js"></script>

{{> partials/footer }}
