
{{> partials/head }}

    <div class="navigation">

        {{> partials/navigation }}

    </div>
    
    <div class="header">
        <div class="container-fluid title-bar">
            <h1>Kontakt - {{ getDisplayName }}</h1>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9">

                <!-- later -->

            </div>

            <div class="col-md-3">

                <div>
                    <div class="form-group">
                        <div>#: {{ getId }}</div>
                    </div>

                    <div>
                        <div>Erstellt: {{ getCreatedAt }}</div>
                    </div>
                    <div>
                        <div>Aktualisiert: {{ getUpdatedAt }}</div>
                    </div> 
                </div>
                
            </div>
        </div>
            
    </div>

    <div class="buttons fixed-bottom">
        <div class="container-fluid">
            <button id="edit__btn" class="btn btn-primary" data-location="/contact/edit/{{ getId }}">Bearbeiten</button>
        </div>
    </div>

{{> partials/footer }}
