{{> partials/head }}

    <div class="navigation">

        {{> partials/navigation }}

    </div>
    
    <div class="header">
        <div class="container-fluid title-bar">
            <h1>Aufgaben</h1>
            <a href="/task/new" title="Neue Aufgabe" class="btn header-button">Neue Aufgabe</a>
        </div>
    </div>

    <div class="table-scrollable">
        <div class="table table-striped table-hover table-sm">
            <div class="container-fluid">
                <table class="table__index">
                    <thead>
                        <tr>
                            <th>Aktionen</th>
                            <th>#</th>
                            <th>Titel</th>
                            <th class="project">Projekt</th>
                            <th class="contact">Kontakt</th>
                            <th class="begin">Anfang</th>
                            <th class="end">Ende</th>
                            <th class="status">Status</th>
                            <th class="priority">Priorität</th>
                            <th>Fortschritt</th>
                            <th class="created">Erstellt</th>
                            <th class="updatedAt">Aktualisiert</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#tasks}}
                        <tr class="clickable__row" data-href="/task/read/{{ getId }}">
                            <td>-</td>
                            <td>{{ getId }}</td>
                            <td>{{ getTitle}}</td>
                            <td>
                                <div class="ellipsis" title="{{ getProject.getTitle }}">
                                    {{ getProject.getTitle }}
                                </div>
                            </td>
                            <td>{{ getContact.getDisplayName }}</td>
                            <td>{{ getBeginAt }}</td>
                            <td>{{ getEndAt }}</td>
                            <td class="status__color" data-status_id="{{ getStatusId}} ">{{ getStatus.getDescription }}</td>
                            <td class="priority__color" data-priority_id="{{ getPriorityId }}">{{ getPriority.getDescription }}</td>
                            <td>-</td>
                            <td>{{ getCreatedAt }}</td>
                            <td>{{ getUpdatedAt }}</td>
                        </tr>
                        {{/tasks}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="/assets/js/modules/task/index.js"></script>

{{> partials/footer }}