<!DOCTYPE html>
<html lang="de">
    <head>
        
        {{> partials/head }}

    </head>
    <body>
        <div class="navigation">

            {{> partials/navigation }}

        </div>
        
        <div class="header">
            <div class="container-fluid title-bar">
                <h1>Aufgaben</h1>
            </div>
        </div>

        <div class="table-scrollable">
            <div class="table table-striped table-hover table-sm">
                <div class="container-fluid">
                    <table>
                        <thead>
                            <tr>
                                <th>Aktionen</th>
                                <th>#</th>
                                <th>Titel</th>
                                <th class="project">Projekt</th>
                                <th class="contact">Kontakt</th>
                                <th class="begin">Anfang</th>
                                <th class="end">Ende</th>
                                <th class="status">Status</th>
                                <th class="priority">Priorität</th>
                                <th>Fortschritt</th>
                                <th>Getestet</th>
                                <th>Veröffentlicht</th>
                                <th class="created">Erstellt</th>
                                <th class="updatedAt">Aktualisiert</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#tasks}}
                            <tr class="clickable__row" data-href="/task/read/{{id}}">
                                <td>-</td>
                                <td>{{id}}</td>
                                <td>{{title}}</td>
                                <td>{{project}}</td>
                                <td>{{contact}}</td>
                                <td>{{beginAt}}</td>
                                <td>{{endAt}}</td>
                                <td class="status__color" data-status_id="{{statusId}}">{{status}}</td>
                                <td class="priority__color" data-priority_id="{{priorityId}}">{{priority}}</td>
                                <td>-</td>
                                <td>{{testId}}</td>
                                <td>{{deployedAt}}</td>
                                <td>{{createdAt}}</td>
                                <td>{{updatedAt}}</td>
                            </tr>
                            {{/tasks}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        {{> partials/javascript }}
        
        <script src="/assets/js/modules/task/index.js"></script>
    </body>
</html>