<!DOCTYPE html>
<html lang="de">
    <head>
        
        {{> partials/head }}

    </head>
    <body>
        <div class="navigation">

            {{> partials/navigation }}

        </div>
        
        <div class="header">
            <div class="container-fluid title-bar">
                <h1>Aufgabe - {{title}}</h1>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-9">

                    <div>
                        <label for="desc">Beschreibung:</label>
                        <div>{{desc}}</div>
                    </div>

                </div>

                <div class="col-md-3">

                    <div>
                        <div class="form-group">
                            <div>#: {{id}}</div>
                        </div>
    
                        <div>
                            <div>Begin: {{beginAt}}</div>
                        </div>
                        <div>
                            <div>Ende: {{endAt}}</div>
                        </div>
    
                        <div>
                            <div>Erstellt: {{createdAt}}</div>
                        </div>
                        <div>
                            <div>Aktualisiert: {{updatedAt}}</div>
                        </div> 
                    </div>
                    
                    <div>
                        <div>
                            <div>Status: {{status}}</div>
                        </div>
                        <div>
                            <div>Priorität: {{priority}}</div>
                        </div>
                    </div>

                    <div>
                        <div>
                            <div>Kontakt: {{contact}}</div>
                        </div>
                        <div>
                            <div>Projekt: {{project}}</div>
                        </div>    
                    </div>
                </div>
            </div>
                
        </div>

        <div class="buttons fixed-bottom">
            <div class="container-fluid">
                <button id="edit__btn" role="button" class="btn btn-primary" data-id="{{id}}">Bearbeiten</button>
            </div>
        </div>

        {{ partials/javascript }}

        <script src="/assets/js/modules/task/read.js"></script>
    </body>
</html>