@CHARSET "UTF-8";

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 4fr 1fr 80px;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "box-left"
        "box-content"
        "box-right"
        "footer"
    ;
}

.box-left {
    grid-area: box-left;
}

.box-right {
    grid-area: box-right;
}

.box-content {
    grid-area: box-content;
}

header {
    grid-area: header;
}

footer {
    grid-area: footer;
}
