h1 {
    font-size: 3.5rem;
}

h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}

label {
    font-weight: 400;
    font-size: 1.25rem !important;
}

.title-bar {
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
}

.title-bar input[type=text] {
    font-size: 3rem;
    padding: 0px 8px;
    height: 70px;
    border-radius: unset;
}

/*
|----------------------------------------------------------------------------
| Titlebar without outline in bootstrap
|----------------------------------------------------------------------------
|
| Bootstrap using sets box-shadow to inset 0 -2px 0 #2196F3 on focus.
| You need to override it, but not with none, because that would just remove it. 
|
| https://stackoverflow.com/questions/48483925/how-to-remove-outline-in-bootstrap-4/48484022
|
*/
.title-bar input[type=text]:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}

.header {
    margin: 2vh 0vh;
}

.header-title {
    width: 60%;
}

.header-button {
    font-size: 2em;
    margin-left: 2em;
    color: lightgrey;
    text-decoration: none;
}

.table-scrollable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
  }
  
.table-scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

.table__index {
    width: 128em !important;
}

.table__mini {
    width: 60em !important;
}

.status,
.priority {
    width: 8em;
}

.contact,
.project {
    width: 12em;
}

.begin,
.end,
.created,
.updatedAt {
    width: 10em;
}

.status__color,
.priority__color {
    text-align: center;
}

.project-active,
.active {
    background-color: #cccccc;
}

.project-inprocessing,
.inprocessing {
    background-color: #74ff95;
}

.suspend {
    background-color: #7a7aee;
}

.done {
    background-color: #ed9ee3;
}

.waiting {
    background-color: burlywood;
}

.not-important {
    background-color: #cccccc;
}

.in-planning {
    background-color: #cccc33;
}

.very-high {
    background-color: darkred;
    color: goldenrod;
}

.high {
    background-color: red;
}

.normal {
    background-color: lightgreen;
}

.low {
    background-color: lightblue;
}

.buttons {
    padding: 1em 0em;
}

.form-control.borderless {
    border: none;
}

.form-control.borderless:focus {
    border-bottom: 1px solid lightgray;
    outline: none !important;
}

.description {
    height: 36vh;
}

.action-button {
    font-size: 1em;
    margin-left: 2em;
    color: lightgrey;
    text-decoration: none;
}

.table-nav {
    display: flex;
}

.content {
    width: 100%;
    height: 30vh;
    overflow-x: auto;
    margin: 0 0 1em;
}

.ellipsis {
    width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.clickable__row {
    cursor: pointer;
}