.header  h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem !important;
}

.table-scrollable {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

.table-scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
  }
  
.table-scrollable::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, .3);
}

table {
    width: 128em !important;
}

.status,
.priority {
    width: 8em;
}

.project,
.contact,
.begin,
.end,
.created,
.updatedAt {
    width: 10em;
}

.status__color,
.priority__color {
    text-align: center;
}

.project-active,
.active {
    background-color: #cccccc;
}

.project-inprocessing,
.inprocessing {
    background-color: #74ff95;
}

.suspend {
    background-color: #7a7aee;
}

.done {
    background-color: #ed9ee3;
}

.waiting {
    background-color: burlywood;
}

.not-important {
    background-color: #cccccc;
}

.in-planning {
    background-color: #cccc33;
}

.very-high {
    background-color: darkred;
    color: goldenrod;
}

.high {
    background-color: red;
}

.normal {
    background-color: lightgreen;
}

.low {
    background-color: lightblue;
}